{% extends "tutorials/base.html" %}


{%block text_block %}

<div class="col-lg-8">



{# |_____MB MARGIN BOTTOM_____| #}
<section id ="spacing_01" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_01">MB MARGIN BOTTOM</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <h1 class="bg-success mb-0">Margin Bottom 0</h1>
  <h1 class="bg-success mb-1">Margin Bottom 1</h1>
  <h1 class="bg-success mb-2">Margin Bottom 2</h1>
  <h1 class="bg-success mb-3">Margin Bottom 3</h1>
  <h1 class="bg-success mb-4">Margin Bottom 4</h1>
  <h1 class="bg-success mb-5">Margin Bottom 5</h1>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;h1 class=&quot;bg-success mb-0&quot;&gt;Margin Bottom 0&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mb-1&quot;&gt;Margin Bottom 1&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mb-2&quot;&gt;Margin Bottom 2&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mb-3&quot;&gt;Margin Bottom 3&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mb-4&quot;&gt;Margin Bottom 4&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mb-5&quot;&gt;Margin Bottom 5&lt;/h1&gt;</code>
</pre>

</section>




{# |_____MT MARGIN TOP_____| #}
<section id ="spacing_02" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
<a class="list-group ml-3 text-white" href="#spacing_02">Title</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <h1 class="bg-success mt-0">Margin Top 0</h1>
  <h1 class="bg-success mt-1">Margin Top 1</h1>
  <h1 class="bg-success mt-2">Margin Top 2</h1>
  <h1 class="bg-success mt-3">Margin Top 3</h1>
  <h1 class="bg-success mt-4">Margin Top 4</h1>
  <h1 class="bg-success mt-5">Margin Top 5</h1>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;h1 class=&quot;bg-success mt-0&quot;&gt;Margin Top 0&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mt-1&quot;&gt;Margin Top 1&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mt-2&quot;&gt;Margin Top 2&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mt-3&quot;&gt;Margin Top 3&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mt-4&quot;&gt;Margin Top 4&lt;/h1&gt;
&lt;h1 class=&quot;bg-success mt-5&quot;&gt;Margin Top 5&lt;/h1&gt;</code>
</pre>

</section>



{# |_____ML & MR_____| #}
<section id ="spacing_03" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
<a class="list-group ml-3 text-white" href="#spacing_03">Margin Left & Margin Right</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
<p><span class="mr-5 bg-success">Margin Right 5</span> dolor sit amet, <span class="ml-3 bg-success">Margin Left 3 </span> elit. Voluptatum, optio.</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p&gt;&lt;span class=&quot;mr-5 bg-success&quot;&gt;Margin Right 5&lt;/span&gt; dolor sit amet, &lt;span class=&quot;ml-3 bg-success&quot;&gt;Margin Left 3 &lt;/span&gt; elit. Voluptatum, optio.&lt;/p&gt;</code>
</pre>

</section>



{# |_____MX MARGIN LEFT RIGHT_____| #}
<section id ="spacing_04" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_04">MX MARGIN LEFT RIGHT</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
<p>Lorem ipsum<span class="bg-success mx-5">Margin Left & Right 5</span>, consectetur elit. Voluptatum, optio.</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p&gt;Lorem ipsum&lt;span class=&quot;bg-success mx-5&quot;&gt;Margin Left &amp; Right 5&lt;/span&gt;, consectetur elit. Voluptatum, optio.&lt;/p&gt;</code>
</pre>

</section>




{# |_____MARGIN TOP BOTTOM_____| #}
<section id ="spacing_05" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_05">MARGIN TOP BOTTOM</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
  <p class="my-5 bg-success">Margin Top & Bottom 5</p>
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p&gt;Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.&lt;/p&gt;
&lt;p class=&quot;my-5 bg-success&quot;&gt;Margin Top &amp; Bottom 5&lt;/p&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.&lt;/p&gt;</code>
</pre>

</section>




{# |_____BLANK - ALL SIDES_____| #}
<section id ="spacing_06" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_06">BLANK - ALL SIDES</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
  <p class="bg-success m-5">Margin All Sides 5</p>
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p&gt;Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.&lt;/p&gt;
&lt;p class=&quot;bg-success m-5&quot;&gt;Margin All Sides 5&lt;/p&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.&lt;/p&gt;</code>
</pre>

</section>




{# |_____PB PADDING BOTTOM_____| #}
<section id ="spacing_07" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_07">PB PADDING BOTTOM</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <h1 class="bg-warning pb-0">Padding Bottom 0</h1>
  <h1 class="bg-warning pb-1">Padding Bottom 1</h1>
  <h1 class="bg-warning pb-2">Padding Bottom 2</h1>
  <h1 class="bg-warning pb-3">Padding Bottom 3</h1>
  <h1 class="bg-warning pb-4">Padding Bottom 4</h1>
  <h1 class="bg-warning pb-5">Padding Bottom 5</h1>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;h1 class=&quot;bg-warning pb-0&quot;&gt;Padding Bottom 0&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pb-1&quot;&gt;Padding Bottom 1&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pb-2&quot;&gt;Padding Bottom 2&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pb-3&quot;&gt;Padding Bottom 3&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pb-4&quot;&gt;Padding Bottom 4&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pb-5&quot;&gt;Padding Bottom 5&lt;/h1&gt;</code>
</pre>

</section>



{# |_____PT PADDING TOP_____| #}
<section id ="spacing_08" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_08">Title</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <h1 class="bg-warning pt-0">Padding Top 0</h1>
  <h1 class="bg-warning pt-1">Padding Top 1</h1>
  <h1 class="bg-warning pt-2">Padding Top 2</h1>
  <h1 class="bg-warning pt-3">Padding Top 3</h1>
  <h1 class="bg-warning pt-4">Padding Top 4</h1>
  <h1 class="bg-warning pt-5">Padding Top 5</h1>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;h1 class=&quot;bg-warning pt-0&quot;&gt;Padding Top 0&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pt-1&quot;&gt;Padding Top 1&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pt-2&quot;&gt;Padding Top 2&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pt-3&quot;&gt;Padding Top 3&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pt-4&quot;&gt;Padding Top 4&lt;/h1&gt;
&lt;h1 class=&quot;bg-warning pt-5&quot;&gt;Padding Top 5&lt;/h1&gt;</code>
</pre>

</section>



{# |_____PL & PR_____| #}
<section id ="spacing_09" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_09">PL & PR</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
<p><span class="bg-warning pr-5">Padding Right 5</span> dolor sit amet, <span class="bg-warning pl-3">Padding Left 3 </span> elit. Voluptatum, optio.</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p&gt;&lt;span class=&quot;bg-warning pr-5&quot;&gt;Padding Right 5&lt;/span&gt; dolor sit amet, &lt;span class=&quot;bg-warning pl-3&quot;&gt;Padding Left 3 &lt;/span&gt; elit. Voluptatum, optio.&lt;/p&gt;</code>
</pre>

</section>



{# |_____PX PADDING LEFT RIGHT_____| #}
<section id ="spacing_10" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_10">PX PADDING LEFT RIGHT</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
<p>Lorem ipsum<span class="bg-warning px-5">Padding Left & Right 5</span>, consectetur elit. Voluptatum, optio.</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p&gt;Lorem ipsum&lt;span class=&quot;bg-warning px-5&quot;&gt;Padding Left &amp; Right 5&lt;/span&gt;, consectetur elit. Voluptatum, optio.&lt;/p&gt;</code>
</pre>

</section>



{# |_____PY  PADDING TOP BOTTOM_____| #}
<section id ="spacing_11" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_11">PY  PADDING TOP BOTTOM</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
<p class="bg-warning py-5">Padding Top & Bottom 5</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p class=&quot;bg-warning py-5&quot;&gt;Padding Top &amp; Bottom 5&lt;/p&gt;</code>
</pre>

</section>



{# |_____BLANK - ALL SIDES_____| #}
<section id ="spacing_12" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_12">BLANK - ALL SIDES</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
<p class="bg-warning p-5">Padding All Sides 5</p>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;p class=&quot;bg-warning p-5&quot;&gt;Padding All Sides 5&lt;/p&gt;</code>
</pre>

</section>



{# |_____CENTER ALIGN_____| #}
<section id ="spacing_13" class='section_edit'>


<!-- Title -->
<div class="title_settings py-4">
  <a class="list-group ml-3 text-white" href="#spacing_13">CENTER ALIGN</a>
</div>

<!-- Detail Code -->
<div class="bg-light text-color-info p-3">
  <div class="bg-warning mx-auto" style="width: 200px;">
    Center Align
  </div>
</div>

<!-- HTML Code -->
<pre class="language-markup">
<code>&lt;div class=&quot;bg-warning mx-auto&quot; style=&quot;width: 200px;&quot;&gt;
  Center Align
&lt;/div&gt;</code>
</pre>

</section>

</div>




{% endblock %}
