{% extends "tutorials/base.html" %}

{% block title %}Belethor{% endblock %}


{% block text_block %}
  <div class="col-lg-8 bg-light p-4">


  <section>
    <h2>Tip</h2>
    <p class="lead">Inainte de a naviga pe aceste site, te rog sa iei in considerare faptul ca aceste tutoriale nu sunt in curs de dezvolate, probabil vei intampina
    <em>erori de scriere, buguri, downtimes*, etc</em> voi incerca sa lucrez la toate, dar nu vreau ca tu simplu utilizator sa folosesti acest website
     ca o sursa principala de informatii, jos voi lista cateva site-uri extrem de recomandate dupa parerea mea, si nu ar stica prima daca sa le visitezi
     pe acelea si dupa sa revii la aceasta, anyway, am decis ca sa aranjez lectiile pe "capitole", momentan toate sunt in lucru :)</p>


     <ol>
       <li>
         <a href="https://developer.mozilla.org/en-US/">https://developer.mozilla.org/en-US/</a>
       </li>
       <li>
         <a href="https://www.w3schools.com/">https://www.w3schools.com/</a>
       </li>
       <li>
         <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">https://getbootstrap.com/docs/4.0/getting-started/introduction/</a>
       </li>
     </ol>

     <br>

     <h3>HTML BASIC</h3>
     <div class="progress mb-4">
       <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
     </div>

     <h3>CSS BASIC</h3>
     <div class="progress mb-4">
       <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
     </div>

     <h3>Boostrap</h3>
     <div class="progress mb-4">
       <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
     </div>
     <p>Bye!</p>
  </section>




  </div>
{% endblock %}


{% block right %}
<div class="col-lg-2">
  <div class="card text-white bg-info" style="max-width: 18rem;">
    <div class="card-header"><i class="fas fa-wrench"></i> Updates and Others*</div>
      <div class="card-body">
        <p class="card-text">Website-ul va fi lansat pe data de 1.05.2018*</p>
      </div>
  </div>
</div>


{% endblock %}
