{% extends "tutorials/base.html" %}


{% block text_block %}

<div class="col-lg-8">


<div class="container-fluid">

<section id='rows' class='mb-4'>


    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">FLEX ROW & FLEX ITEMS</a>
    </div>

    <div class="d-flex flex-row row-hl p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section id='rows' class='mb-4'>


    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">FLEX ROW REVERSE</a>
    </div>

    <div class="d-flex flex-row-reverse row-hl p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section id='rows' class='mb-4'>


    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">JUSTIFY CONTENT</a>
    </div>

    <div class="d-flex flex-row justify-content-start row-hl mb-1 p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


    <div class="d-flex flex-row justify-content-center row-hl mb-1 p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>

    <div class="d-flex flex-row justify-content-end row-hl mb-1 p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


    <div class="d-flex flex-row justify-content-around row-hl mb-1 p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


    <div class="d-flex flex-row justify-content-between row-hl p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section id='rows' class='mb-4'>


    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">FLEX CONTAINER / FLEX COLUMN</a>
    </div>

    <div class="d-flex flex-column row-hl p-1 mb-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>

    <div class="d-flex flex-column-reverse row-hl p-1">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>

  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section id='rows' class='mb-4'>


    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">VERTICAL ALIGN ITEMS</a>
    </div>

    <div class="d-flex flex-row align-items-start row-hl">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section id='rows' class='mb-4'>


    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">VERTICAL ALIGN ITEMS</a>
    </div>

    <div class="d-flex flex-row align-items-center row-hl">
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
      <div class="p-4 item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>



<section>

    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">Row Items</a>
    </div>

    <div class="d-flex flex-row row-hl p-1">

      <div class="p-4 align-self-md-start item-hl">Flex Item</div>
      <div class="p-4 align-self-md-center item-hl">Flex Item</div>
      <div class="p-4 align-self-md-end item-hl">Flex Item</div>
      <div class="p-4 align-self-md-baseline item-hl">Flex Item</div>
      <div class="p-4 align-self-md-stretch item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section>

    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">ALIGN SELF</a>
    </div>

    <div class="d-flex flex-row row-hl p-1">
      <div class="p-4 align-self-start item-hl">Flex Item</div>
      <div class="p-4 align-self-center item-hl">Flex Item</div>
      <div class="p-4 align-self-end item-hl">Flex Item</div>
      <div class="p-4 align-self-baseline item-hl">Flex Item</div>
      <div class="p-4 align-self-stretch item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>

<section>

    <div class="mainbg py-4">
      <a class="list-group ml-3 text-white" href="#rows">RESPONSIVE ALIGN SELF</a>
    </div>

    <div class="d-flex flex-row row-hl p-1">
      <div class="p-4 align-self-md-start item-hl">Flex Item</div>
      <div class="p-4 align-self-md-center item-hl">Flex Item</div>
      <div class="p-4 align-self-md-end item-hl">Flex Item</div>
      <div class="p-4 align-self-md-baseline item-hl">Flex Item</div>
      <div class="p-4 align-self-md-stretch item-hl">Flex Item</div>
    </div>


  <pre class="fbg">
  <code data-lang='html'>
    <span class="gr"><</span><span class="ev">h1</span><span class="gr">></span><span class="gr">Heading One</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h1</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h2</span><span class="gr">></span><span class="gr">Heading Two</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h2</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h3</span><span class="gr">></span><span class="gr">Heading Three</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h3</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h4</span><span class="gr">></span><span class="gr">Heading Four</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h4</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h5</span><span class="gr">></span><span class="gr">Heading Five</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h5</span><span class="gr">></span>
    <span class="gr"><</span><span class="ev">h6</span><span class="gr">></span><span class="gr">Heading Six</span><span class="gr"><</span><span class='gr'>/</span><span class="ev">h6</span><span class="gr">></span>
  </code>
  </pre>
</section>




  </div>
</div>
{% endblock %}
